<div class="account-left">
 <h3>設定</h3>
  <div class ="choice-list">
   <button class="choice-account"><%= link_to'アカウント', current_user %></button>
   <button class="choice-profile"><%= link_to'プロフィール', profile_path %></button>
  </div>
</div>
