// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//　roomモデル全体
a:link {
 text-decoration: none;
}

// 施設の新規登録画面
.room-registrations-summary {
 margin-left: 20px;
 padding: 40px;
}

// 登録済み一覧画面
td a:link,a:visited{
 color: #0071c1;
}

// 施設詳細画面
.room-detail-introduction-summary {
 display: flex;
}
