// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.room-registrations-summary {
 /*position: absolute;
  top: 20%;
  left: 40%;*/
 margin-left: 20px;
 padding: 40px;
}

a:link,:visited {
 color: #fff;
 text-decoration: none;
}
