// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
main {
 
}

.First-view {
 background-image: url("cover-lg.jpg");
 /*background-repeat: no-repeat;*/
 height: 900px; 
 width: 100%;
 background-size: cover; 
 margin-top: -2px;
 margin-bottom: 180px;
 position: relative;
}

.First-view p {
 display: flex;
 font-size: 65px;
 color: #fff;
 text-align: center;
 position: absolute;
 top: 12%;
 left: 28%;
}

h2 {
 font-size: 40px;
 margin-left: 20px;
}
